:root {
  --mainBlue: #4c6ca5;
  --lightBlue: #82c8e4;
  --mainWhite: #f3f3fe;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Ubuntu', sans-serif !important;
  color: var(--mainDark) !important;
  background-image: url('dust_scratches.png') !important;
}

.text-title {
  font-family: 'Francois One', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
